{% extends 'master.html' %}

{% block content %}
<div class="" id="menu1">
    <h2 class="font-extrabold">Hostname & Banner Configuration</h2>
      <div class="">
        <label id="Hostname"
          class="">Hostname:</label>
        <input placeholder="e.g. router-0137" class="input"
          type="text" size="15" id="hostname" name="hostname" oninput="add_to_config('basic_config')" value="{{ hostname }}">
      </div>
      <br>
      <div class="">
        <label
          class=""
          id="Banner">Banner message:</label>
        <input placeholder="e.g. permitted access only"
          class="" type="textarea" size="50" height="10"
          id="banner" name="banner" oninput="add_to_config('basic_config')"  value="{{ banner }}">
      </div>
  </div>
{% endblock content %}