{% extends 'master.html' %} {% block content %}

<div class="menu-content" id="menu1">
  <h2 class="font-bold text-neutral-500 text-2xl pb-5">
    Etherchannel (LACP) Configuration
  </h2>

  <hr class="border-neutral-800 mb-4" />

  <h3 class="font-bold text-neutral-500 text-2xl pb-5">
    Create new Channel Group:
  </h3>
  <div class="flex flex-col gap-4">
    <div class="relative flex items-center">
      <label id="Hostname" class="absolute -top-6 left-0 px-2 text-neutral-500"
        >Group-ID:</label
      >
      <input
        placeholder="e.g. 1"
        class="w-full p-2 mb-1"
        type="text"
        size="15"
        id="etherchannel_id"
        name="etherchannel_id"
        oninput="checkNewLacpGroup('result_etherchannel', 'etherchannel_id')"
      />
      <span id="etherchannel_id_info"></span>

      <div id="result_etherchannel"></div>
    </div>

<button
  type="button"
  class="config_item btn max-w-xs"
  id="add_etherchannel_button"
  onclick="addChannelGroup(); add_to_config('etherchannel');"
>
  create Channel Group
</button>

<hr class="border-neutral-800 my-4" />

<div id="created_vlans" class="config_item">Created Channel Groups:</div>

<hr class="border-neutral-800 my-4" />

<div class="config_item" id="etherchannel_info"></div>
<input
  name="etherchannel_info_for_transfer"
  id="etherchannel_info_for_transfer"
  value="{{ etherchannel_channel_groups }}"
/>

<h3 class="font-bold text-neutral-500 text-2xl pb-5">
  Assign Channel Groups to Interfaces (add some Channel Groups bevore this step)
</h3>

<div class="flex flex-col gap-4">
    <div class="relative" id="ip-form">
        <label class="absolute -top-6 left-0 px-2 text-neutral-500" id="Banner"
          >Choose Interface:</label
        >
        <select
          name="etherchannel_interface"
          id="etherchannel_interface"
          class="w-full p-2 mb-1"
          onchange="checkInterfaceEtherchannel()"
        >
          <option value=""></option>
          {% for interface in interfaces %}
          <option
            id="etherchannel_{{ interface }}"
            name="etherchannel_{{ interface }}"
            value="{{ interface }}"
          >
            {{ interface }}
          </option>
          {% endfor %}
        </select>
      </div>
      
      <div class="relative" id="ip-form">
        <label class="absolute -top-6 left-0 px-2 text-neutral-500" id="Banner"
          >Mode:</label
        >
        <select
          name="etherchannel_interface_mode"
          id="etherchannel_interface_mode"
          class="w-full p-2 mb-1"
        >
          <option value="active">Mode Active</option>
          <option value="passive">Mode passive</option>
        </select>
      </div>
      
      <div id="etherchannel_interface_config" class="relative">
        <label class="absolute -top-6 left-0 px-2 text-neutral-500" id="Banner"
          >Choose Channel Group:</label
        >
        <select
          name="etherchannel_select_id"
          id="etherchannel_select_id"
          onchange="checkInterfaceEtherchannel()"
          class="w-full p-2 mb-1"
        >
          <option value=""></option>
        </select>
      </div>
</div>

<br />

<button
  type="button"
  class="config_item btn max-w-xs"
  id="add_etherchannel_interface_button"
  onclick="addChannelGroupToInterface(); add_to_config('etherchannel');"
>
  Add Channel Group to Interface
</button>

<hr class="border-neutral-800 my-4" />

<div id="created_vlans" class="config_item">Added Interfaces:</div>
<div class="config_item" id="etherchannel_interfaces_info"></div>
<input
  name="etherchannel_interfaces_info_for_transfer"
  id="etherchannel_interfaces_info_for_transfer"
  value="{{ etherchannel_interfaces }}"
/>

    <script>
        document.getElementById("add_etherchannel_button").disabled = true;
        document.getElementById("etherchannel_info_for_transfer").style.display = 'none';
        document.getElementById("etherchannel_interfaces_info_for_transfer").style.display = 'none';
        document.getElementById("add_etherchannel_interface_button").disabled = true;
        checkInterfaceEtherchannel()


        //Input forwarding to frontend
        let etherchannels_string = document.getElementById('etherchannel_info_for_transfer').value;
        let etherchannels = etherchannels_string.split(';');

        for (let i = 0; i < etherchannels.length; i=i+1){
            let splitttedInterface = etherchannels[i].split(',')
            let etherchannelInfo = "<b>ID: </b>" + splitttedInterface[0] +  "<b> IP: </b>" + splitttedInterface[1] + "<b> SM: </b>" + splitttedInterface[2] +'<br><br>';

            if (splitttedInterface[1] != undefined){
            document.getElementById('etherchannel_info').innerHTML += etherchannelInfo;

            
            //add to the dropdowns

            let etherchannel_group_options = document.getElementById('etherchannel_select_id');

            // Erstelle ein neues Optionselement für die Interface Zuweisung
            let option = document.createElement('option');
            option.value = splitttedInterface[0];
            option.textContent = splitttedInterface[0];
            etherchannel_group_options.appendChild(option);

            }
        }

        //etherchannel interfaces
        let etherchannel_interfaces_string = document.getElementById('etherchannel_interfaces_info_for_transfer').value;
        let etherchannel_interfaces = etherchannel_interfaces_string.split(';');
        let filtered_etherchannel_interfaces = etherchannel_interfaces.filter(item => item.includes("Ethernet"));

        for (let i = 0; i < filtered_etherchannel_interfaces.length; i=i+1){
            let splitttedInterface = filtered_etherchannel_interfaces[i].split(',')
            let etherchannelInfo = "<b>Interface: </b>" + splitttedInterface[0] +  "<b> Mode: </b>" + splitttedInterface[2] + "<b> Channel-Group: </b>" + splitttedInterface[1] +'<br><br>';

            if (isNaN(splitttedInterface[1])  == false){
            document.getElementById('etherchannel_interfaces_info').innerHTML += etherchannelInfo;

            }
        }

    </script>

{% endblock content %}
