{% extends 'master.html' %}

{% block content %}

<div class="menu-content bg-base-200 rounded-lg mb-4 p-8" id="menu2">
    <h2 class="font-extrabold text-2xl pb-5">Interface Configuration</h2>
    <input type="hidden" id="interfaces_for_get_inputs" value="{{ interfaces }}">
    <input type="hidden" id="interfaces_descriptions" value="{{ interface_descriptions }}">
    <input type="hidden" id="interface_ips" value="{{ interface_ips }}">
    <input type="hidden" id="interface_sms" value="{{ interface_sms }}">
    <input type="hidden" id="interface_shutdowns" value="{{ interface_shutdowns }}">
    
    <div class="grid grid-cols-3 gap-4">
      {% for interface in interfaces %}
      <div class="bg-base-300 p-4 rounded-2xl hover:outline hover:outline-1 hover:outline-slate-600">
        <h3 class="config_item flex font-bold items-center gap-3" id="">
          <input type="checkbox" class="toggle toggle-accent" name="{{ interface }}_shutdown"
            id="{{ interface }}_shutdown"
            onchange="updateInterfaceDescription('{{ interface }}_shutdown', '{{ interface }}_shutdown_description'); add_to_config('interface')"/>
          {{ interface }}:
          <span id="{{ interface }}_shutdown_description">
            (shutdown)
          </span>
        </h3>

        <hr class="my-4 bg-base-100 border-base-100">

        <div class="flex flex-col gap-3">
          <div class="relative" id="ip-form">
            <label for="description" id="description"
              class="absolute -top-3 left-3 px-2 bg-gradient-to-t from-base-100 from-50% via-base-300 via-50% to-base-300">
              Description:
            </label>
            <input placeholder="e.g. connection to SW1" class="input !pl-3 !outline-offset-0 input-bordered !w-full"
              type="text" id="{{ interface }}_description" name="{{ interface }}_description" oninput="add_to_config('interface')">
          </div>

          <div class="relative" id="ip-form">
            <label for="input"
              class="absolute -top-3 left-3 px-2 bg-gradient-to-t from-base-100 from-50% via-base-300 via-50% to-base-300">
              IP address:
            </label>
            <input placeholder="ip address or dhcp" class="input !pl-3 !outline-offset-0 input-bordered !w-full"
              type="text" id="{{ interface }}_ip" name="{{ interface }}_ip"
              oninput="checkIpAddress('{{ interface }}_ip', '{{ interface }}_sm', 'result_{{ interface }}'); add_to_config('interface')">
          </div>

          <div class="relative" id="ip-form">
            <label
              class="absolute -top-3 left-3 px-2 bg-gradient-to-t from-base-100 from-50% via-base-300 via-50% to-base-300"
              for="subnetMask">Subnet mask:</label>
            <input class="input !pl-3 !outline-offset-0 input-bordered !w-full" type="text" name="{{ interface }}_sm"
              id="{{ interface }}_sm" placeholder="leave empty if ip is dhcp"
              oninput="checkIpAddress('{{ interface }}_ip', '{{ interface }}_sm', 'result_{{ interface }}'); add_to_config('interface')">
            <div id="result_{{ interface }}"></div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

  <script>
  let interfaces = document.getElementById('interfaces_for_get_inputs').value;
  let interface_descriptions = document.getElementById('interfaces_descriptions').value;
  let interface_ips = document.getElementById('interface_ips').value;
  let interface_sms =  document.getElementById('interface_sms').value;
  let interface_shutdowns = document.getElementById('interface_shutdowns').value;

  interfaces = extractToList(interfaces, /(?:<Router_Interfaces:\s)(\w+\/\d+)(?=>)/g);
  interface_descriptions = extractToList(interface_descriptions, /'([^']+)'/g);
  interface_ips = collectIPAddresses(interface_ips);
  interface_sms = collectIPAddresses(interface_sms);
  interface_shutdowns = extractBooleans(interface_shutdowns);

  if (interface_ips == null && interface_sms == null){
      interface_ips = [];
      interface_sms = [];
      for (let i = 0; i < interfaces.length; i++){
        interface_ips.push('');
        interface_sms.push('');
      }
    }

  for (let i = 0; i < interfaces.length-interface_ips.length; i++){
    interface_ips.push('');
  }
  for (let i = 0; i < interfaces.length-interface_sms.length; i++){
    interface_sms.push('');
  }


  for (let i = 0; i < interfaces.length; i++) {
    document.getElementById(interfaces[i]+'_description').value = interface_descriptions[i];
    document.getElementById(interfaces[i]+'_ip').value = interface_ips[i];
    document.getElementById(interfaces[i]+'_sm').value = interface_sms[i];
    document.getElementById(interfaces[i]+'_shutdown').checked = interface_shutdowns[i];
    updateInterfaceDescription(interfaces[i]+'_shutdown', interfaces[i]+'_shutdown_description');
  }


  </script>
{% endblock content %}