{% extends 'master.html' %}

{% block content %}

<input type="hidden" id="rip_state_for_input" value="{{ rip_state }}">
<input type="hidden" id="rip_version_for_input" value="{{ rip_version }}">
<input type="hidden" id="rip_sum_state_for_input" value="{{ rip_sum_state }}">
<input type="hidden" id="rip_originate_state_for_input" value="{{ rip_originate_state }}">

<div class="menu-content rounded-lg flex flex-col h-full" id="menu3">
    <h2 class="font-extrabold text-2xl pb-5">Routing Configuration</h2>
    <div class="rounded-2xl mb-4 flex flex-col gap-4">
      <h3 class="config_item flex items-center gap-3" id="">
        <input class="toggle toggle-accent" type="checkbox" name="rip_state" id="rip_state"
          onchange="updateStateDescription('rip_state', 'rip_state_description'); add_to_config('rip')">
        Dynamic Routing - RIP<span id="rip_state_description">
          (off)</span>
      </h3>

      <div class="config_item" id="ip-form">
        <div class="relative flex items-center gap-3">
          <label
            class="absolute -top-6 left-0 px-2 text-neutral-500"
            for="description">Network/s:</label>
          <input class="w-full p-2 mb-1" type="text"
            name="networks_input_routing" id="networks_input_routing"
            placeholder="seperate multiple networks with ( , )"
            oninput="ValidateIPaddressesDynamicRouting('networks_input_routing','networks_input_routing_info'); add_to_config('rip')" value="{{ rip_networks }}">
        </div>
        <span id="networks_input_routing_info"></span>
      </div>


      <div class="config_item" id="ip-form">
        <div class="relative flex items-center gap-3">
          <label for="dropdown"
            class="absolute -top-6 left-0 px-2 text-neutral-500">Version:</label>
          <select name="dropdown_rip_version"
            class="w-full p-2 mb-1" id="dropdown_rip_version"
            onchange="handleDropdownChange(); add_to_config('rip')">
            <option name="version1" value="2">Version 2</option>
            <option name="version2" value="1">Version 1</option>
          </select>
        </div>
      </div>
    </div>

    <hr class="border-neutral-800 mb-4">

    <div class="bg-[#121212] p-4 rounded-2xl mb-4 flex flex-col gap-2">
      <div class="config_item flex items-center gap-3" id="ip-form">
        <input class="toggle toggle-accent" type="checkbox" name="sum_state" id="sum_state"
          onchange="updateStateDescription('sum_state', 'sum_state_description'); add_to_config('rip')">
        Auto summarization
        <span id="sum_state_description">
          (off)</span>
      </div>
      <div class="config_item flex items-center gap-3" id="ip-form">
        <input class="toggle toggle-accent" type="checkbox" name="originate_state" id="originate_state"
          onchange="updateStateDescription('originate_state', 'originate_state_description'); add_to_config('rip')">
        Broadcast default route
        <span id="originate_state_description">
          (off)</span>
      </div>
    </div>

  <script>

    if(document.getElementById('rip_state_for_input').value == 'true'){
      document.getElementById('rip_state').checked = true;
      updateStateDescription('rip_state', 'rip_state_description');
    }

    if(document.getElementById('rip_sum_state_for_input').value == 'True'){
      document.getElementById('sum_state').checked = true;
      updateStateDescription('sum_state', 'sum_state_description');
    }

    if(document.getElementById('rip_originate_state_for_input').value == 'True'){
      document.getElementById('originate_state').checked = true;
      updateStateDescription('originate_state', 'originate_state_description');
    }

    document.getElementById("dropdown_rip_version").value = document.getElementById('rip_version_for_input').value;


  </script>

{% endblock content %}