{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cisco Configurator 2.0</title>
  <script src="{% static 'input_checks.js' %}"></script>
  <link href="{% static 'src/styles.css' %}" rel="stylesheet">
</head>

<h1 class="text-3xl text-blue-800">Home </h1>
<form id="configForm" method="post" action="{% url 'get_inputs_route' device_type='router' config_mode='new' %}">   {% csrf_token %}
    <input type="hidden" value="basic_config" name="hidden_forward_to">
    <h2>Select Router or Switch:</h2>
    <select name="deviceType" id="deviceType">
        <option value="router">Router</option>
        <option value="switch">Switch</option>
    </select>
    
    <h2>Select New Config or Load from Switch/Router:</h2>
    <select name="configType" id="configType" oninput="ifLoadConfig()">
        <option value="new">New Config</option>
        <option value="load">Load Config</option>
    </select>


    <div id="LoadConfigInput">
        <h3>Load Config From:</h3>
        <input id="loadFromIpAddress"type="text" name="loadFromIpAddress" placeholder="10.0.0.1" oninput="ValidateIndexInput()">
        <input id="loadFromUsername" type="text" name="loadFromUsername" placeholder="admin">
        <input id="loadFromPassword" type="password" name="loadFromPassword" placeholder="*****">
        <div id="IndexErrorMessage"></div>
    </div>
    
    <br><br>
    <button id="IndexSubmitButton" type="button" onclick="submitForm()">Start Configuring</button>
</form>

<script>

    document.getElementById('LoadConfigInput').style.display = 'none';

    function submitForm() {
        let deviceType = document.getElementById("deviceType").value;
        let configType = document.getElementById("configType").value;
        document.getElementById("configForm").action = "{% url 'get_inputs_route' device_type='router' config_mode='new' %}".replace('router', deviceType).replace('new', configType);
        
        document.getElementById("configForm").submit();
    }

    function ifLoadConfig(){
        if(document.getElementById('configType').value == 'load'){
            document.getElementById('LoadConfigInput').style.display = 'block';
            document.getElementById('IndexSubmitButton').disabled  = true;
        }else{
            document.getElementById('LoadConfigInput').style.display = 'none';
            document.getElementById('IndexSubmitButton').disabled  = false;
        }
    }
</script>