{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cisco GUI Konfigurator</title>
  <script src="{% static 'input_checks.js' %}"></script>
</head>

<body>

  <div class="menu-container justify-between flex py-2 pt-10 items-center">
    <a class="menu-button btn min-h-0 h-[2.5rem]" href="{%  url 'index_route' %}">
      <h1 id="heading" class="p-2 px-3 font-bold">Cisco GUI Konfigurator</h1>
    </a>
    <div class="flex gap-2">
      {% if device_type == "router" %}

      <form method="post" action="{% url 'index_route' %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
            <option value="router">Router</option>
        </select>
        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
            Return to start
        </button>
    </form>
    
    <form method="post" action="{% url 'get_inputs_route' device_type='router' %}" class="menu-form">
      {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
            <option value="router">Router</option>
        </select>
        <!-- hidden inputs to forward the user input into the backend if another site gets opened -->
        <input type="hidden" id="hidden_forward_to" name="hidden_forward_to" value="basic_config">
        	<!-- basic config -->
        <input type="hidden" id="hidden_hostname" name="hidden_hostname">
        <input type="hidden" id="hidden_banner" name="hidden_banner">
        <!-- interfaces -->
        <input type="hidden" id="hidden_FastEthernet0/0_shutdown" name="hidden_FastEthernet0/0_shutdown">
        <input type="hidden" id="hidden_FastEthernet0/0_description" name="hidden_FastEthernet0/0_description">
        <input type="hidden" id="hidden_FastEthernet0/0_ip" name="hidden_FastEthernet0/0_ip">
        <input type="hidden" id="hidden_FastEthernet0/0_sm" name="hidden_FastEthernet0/0_sm">

        <input type="hidden" id="hidden_FastEthernet0/1_shutdown" name="hidden_FastEthernet0/1_shutdown">
        <input type="hidden" id="hidden_FastEthernet0/1_description" name="hidden_FastEthernet0/1_description">
        <input type="hidden" id="hidden_FastEthernet0/1_ip" name="hidden_FastEthernet0/1_ip">
        <input type="hidden" id="hidden_FastEthernet0/1_sm" name="hidden_FastEthernet0/1_sm">

        <!-- nat -->
        <input type="hidden" id="hidden_nat_status" name="hidden_nat_status">
        <input type="hidden" id="hidden_nat_ingoing" name="hidden_nat_ingoing">
        <input type="hidden" id="hidden_nat_outgoing" name="hidden_nat_outgoing">
        <input type="hidden" id="hidden_nat_info_for_transfer" name="hidden_nat_info_for_transfer">

        <!-- dhcp -->
        <input type="hidden" id="hidden_dhcp_status" name="hidden_dhcp_status">
        <input type="hidden" id="hidden_dhcp_poolName" name="hidden_dhcp_poolName">
        <input type="hidden" id="hidden_dhcp_Network" name="hidden_dhcp_Network">
        <input type="hidden" id="hidden_dhcp_dG" name="hidden_dhcp_dG">
        <input type="hidden" id="hidden_dhcp_dnsServer" name="hidden_dhcp_dnsServer">
        <input type="hidden" id="hidden_dhcp_info_for_transfer" name="hidden_dhcp_info_for_transfer">

        <!-- rip -->
        <input type="hidden" id="hidden_rip_state" name="hidden_rip_state">
        <input type="hidden" id="hidden_networks_input_routing" name="hidden_networks_input_routing">
        <input type="hidden" id="hidden_dropdown_rip_version" name="hidden_dropdown_rip_version">
        <input type="hidden" id="hidden_sum_state" name="hidden_sum_state">
        <input type="hidden" id="hidden_originate_state" name="hidden_originate_state">

        <!-- static routing -->
        <input type="hidden" id="hidden_staticRouting_info_for_transfer" name="hidden_staticRouting_info_for_transfer">

        <button type="submit" id="basic-config-button" name="basic-config-button" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
            Hostname & Banner (Basic Config)
        </button>
    </form>
    
    <form method="post" action="{% url 'get_inputs_route' device_type='router' %}" class="menu-form">
      {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
            <option value="router">Router</option>
        </select>

        <!-- hidden inputs to forward the user input into the backend if another site gets opened -->
        <input type="hidden" id="hidden_forward_to" name="hidden_forward_to" value="interface">
        	<!-- basic config -->
        <input type="hidden" id="hidden_hostname" name="hidden_hostname">
        <input type="hidden" id="hidden_banner" name="hidden_banner">
        <!-- interfaces -->
        <input type="hidden" id="hidden_FastEthernet0/0_shutdown" name="hidden_FastEthernet0/0_shutdown">
        <input type="hidden" id="hidden_FastEthernet0/0_description" name="hidden_FastEthernet0/0_description">
        <input type="hidden" id="hidden_FastEthernet0/0_ip" name="hidden_FastEthernet0/0_ip">
        <input type="hidden" id="hidden_FastEthernet0/0_sm" name="hidden_FastEthernet0/0_sm">

        <input type="hidden" id="hidden_FastEthernet0/1_shutdown" name="hidden_FastEthernet0/1_shutdown">
        <input type="hidden" id="hidden_FastEthernet0/1_description" name="hidden_FastEthernet0/1_description">
        <input type="hidden" id="hidden_FastEthernet0/1_ip" name="hidden_FastEthernet0/1_ip">
        <input type="hidden" id="hidden_FastEthernet0/1_sm" name="hidden_FastEthernet0/1_sm">

        <!-- nat -->
        <input type="hidden" id="hidden_nat_status" name="hidden_nat_status">
        <input type="hidden" id="hidden_nat_ingoing" name="hidden_nat_ingoing">
        <input type="hidden" id="hidden_nat_outgoing" name="hidden_nat_outgoing">
        <input type="hidden" id="hidden_nat_info_for_transfer" name="hidden_nat_info_for_transfer">

        <!-- dhcp -->
        <input type="hidden" id="hidden_dhcp_status" name="hidden_dhcp_status">
        <input type="hidden" id="hidden_dhcp_poolName" name="hidden_dhcp_poolName">
        <input type="hidden" id="hidden_dhcp_Network" name="hidden_dhcp_Network">
        <input type="hidden" id="hidden_dhcp_dG" name="hidden_dhcp_dG">
        <input type="hidden" id="hidden_dhcp_dnsServer" name="hidden_dhcp_dnsServer">
        <input type="hidden" id="hidden_dhcp_info_for_transfer" name="hidden_dhcp_info_for_transfer">

        <!-- rip -->
        <input type="hidden" id="hidden_rip_state" name="hidden_rip_state">
        <input type="hidden" id="hidden_networks_input_routing" name="hidden_networks_input_routing">
        <input type="hidden" id="hidden_dropdown_rip_version" name="hidden_dropdown_rip_version">
        <input type="hidden" id="hidden_sum_state" name="hidden_sum_state">
        <input type="hidden" id="hidden_originate_state" name="hidden_originate_state">

        <!-- static routing -->
        <input type="hidden" id="hidden_staticRouting_info_for_transfer" name="hidden_staticRouting_info_for_transfer">

        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
            Interfaces
        </button>
    </form>
    
    <form method="post" action="{% url 'get_inputs_route' device_type='router' %}" class="menu-form">
      {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
            <option value="router">Router</option>
        </select>

        <!-- hidden inputs to forward the user input into the backend if another site gets opened -->
        <input type="hidden" id="hidden_forward_to" name="hidden_forward_to" value="nat">
        	<!-- basic config -->
        <input type="hidden" id="hidden_hostname" name="hidden_hostname">
        <input type="hidden" id="hidden_banner" name="hidden_banner">
        <!-- interfaces -->
        <input type="hidden" id="hidden_FastEthernet0/0_shutdown" name="hidden_FastEthernet0/0_shutdown">
        <input type="hidden" id="hidden_FastEthernet0/0_description" name="hidden_FastEthernet0/0_description">
        <input type="hidden" id="hidden_FastEthernet0/0_ip" name="hidden_FastEthernet0/0_ip">
        <input type="hidden" id="hidden_FastEthernet0/0_sm" name="hidden_FastEthernet0/0_sm">

        <input type="hidden" id="hidden_FastEthernet0/1_shutdown" name="hidden_FastEthernet0/1_shutdown">
        <input type="hidden" id="hidden_FastEthernet0/1_description" name="hidden_FastEthernet0/1_description">
        <input type="hidden" id="hidden_FastEthernet0/1_ip" name="hidden_FastEthernet0/1_ip">
        <input type="hidden" id="hidden_FastEthernet0/1_sm" name="hidden_FastEthernet0/1_sm">

        <!-- nat -->
        <input type="hidden" id="hidden_nat_status" name="hidden_nat_status">
        <input type="hidden" id="hidden_nat_ingoing" name="hidden_nat_ingoing">
        <input type="hidden" id="hidden_nat_outgoing" name="hidden_nat_outgoing">
        <input type="hidden" id="hidden_nat_info_for_transfer" name="hidden_nat_info_for_transfer">

        <!-- dhcp -->
        <input type="hidden" id="hidden_dhcp_status" name="hidden_dhcp_status">
        <input type="hidden" id="hidden_dhcp_poolName" name="hidden_dhcp_poolName">
        <input type="hidden" id="hidden_dhcp_Network" name="hidden_dhcp_Network">
        <input type="hidden" id="hidden_dhcp_dG" name="hidden_dhcp_dG">
        <input type="hidden" id="hidden_dhcp_dnsServer" name="hidden_dhcp_dnsServer">
        <input type="hidden" id="hidden_dhcp_info_for_transfer" name="hidden_dhcp_info_for_transfer">

        <!-- rip -->
        <input type="hidden" id="hidden_rip_state" name="hidden_rip_state">
        <input type="hidden" id="hidden_networks_input_routing" name="hidden_networks_input_routing">
        <input type="hidden" id="hidden_dropdown_rip_version" name="hidden_dropdown_rip_version">
        <input type="hidden" id="hidden_sum_state" name="hidden_sum_state">
        <input type="hidden" id="hidden_originate_state" name="hidden_originate_state">

        <!-- static routing -->
        <input type="hidden" id="hidden_staticRouting_info_for_transfer" name="hidden_staticRouting_info_for_transfer">

        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
            NAT
        </button>
    </form>
    
    <form method="post" action="{% url 'get_inputs_route' device_type='router' %}" class="menu-form">
      {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
            <option value="router">Router</option>
        </select>

        <!-- hidden inputs to forward the user input into the backend if another site gets opened -->
        <input type="hidden" id="hidden_forward_to" name="hidden_forward_to" value="dhcp">
        	<!-- basic config -->
        <input type="hidden" id="hidden_hostname" name="hidden_hostname">
        <input type="hidden" id="hidden_banner" name="hidden_banner">
        <!-- interfaces -->
        <input type="hidden" id="hidden_FastEthernet0/0_shutdown" name="hidden_FastEthernet0/0_shutdown">
        <input type="hidden" id="hidden_FastEthernet0/0_description" name="hidden_FastEthernet0/0_description">
        <input type="hidden" id="hidden_FastEthernet0/0_ip" name="hidden_FastEthernet0/0_ip">
        <input type="hidden" id="hidden_FastEthernet0/0_sm" name="hidden_FastEthernet0/0_sm">

        <input type="hidden" id="hidden_FastEthernet0/1_shutdown" name="hidden_FastEthernet0/1_shutdown">
        <input type="hidden" id="hidden_FastEthernet0/1_description" name="hidden_FastEthernet0/1_description">
        <input type="hidden" id="hidden_FastEthernet0/1_ip" name="hidden_FastEthernet0/1_ip">
        <input type="hidden" id="hidden_FastEthernet0/1_sm" name="hidden_FastEthernet0/1_sm">

        <!-- nat -->
        <input type="hidden" id="hidden_nat_status" name="hidden_nat_status">
        <input type="hidden" id="hidden_nat_ingoing" name="hidden_nat_ingoing">
        <input type="hidden" id="hidden_nat_outgoing" name="hidden_nat_outgoing">
        <input type="hidden" id="hidden_nat_info_for_transfer" name="hidden_nat_info_for_transfer">

        <!-- dhcp -->
        <input type="hidden" id="hidden_dhcp_status" name="hidden_dhcp_status">
        <input type="hidden" id="hidden_dhcp_poolName" name="hidden_dhcp_poolName">
        <input type="hidden" id="hidden_dhcp_Network" name="hidden_dhcp_Network">
        <input type="hidden" id="hidden_dhcp_dG" name="hidden_dhcp_dG">
        <input type="hidden" id="hidden_dhcp_dnsServer" name="hidden_dhcp_dnsServer">
        <input type="hidden" id="hidden_dhcp_info_for_transfer" name="hidden_dhcp_info_for_transfer">

        <!-- rip -->
        <input type="hidden" id="hidden_rip_state" name="hidden_rip_state">
        <input type="hidden" id="hidden_networks_input_routing" name="hidden_networks_input_routing">
        <input type="hidden" id="hidden_dropdown_rip_version" name="hidden_dropdown_rip_version">
        <input type="hidden" id="hidden_sum_state" name="hidden_sum_state">
        <input type="hidden" id="hidden_originate_state" name="hidden_originate_state">

        <!-- static routing -->
        <input type="hidden" id="hidden_staticRouting_info_for_transfer" name="hidden_staticRouting_info_for_transfer">

        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
            DHCP
        </button>
    </form>
    
    <form method="post" action="{% url 'etherchannel_route'%}" class="menu-form">
      {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
            <option value="router">Router</option>
        </select>
        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
            Etherchannel
        </button>
    </form>
    
    <form method="post" action="{% url 'ospf_route' %}" class="menu-form">
      {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
            <option value="router">Router</option>
        </select>
        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
            OSPF
        </button>
    </form>
    
    <form method="post" action="{% url 'get_inputs_route' device_type='router' %}" class="menu-form">
      {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
            <option value="router">Router</option>
        </select>

        <!-- hidden inputs to forward the user input into the backend if another site gets opened -->
        <input type="hidden" id="hidden_forward_to" name="hidden_forward_to" value="rip">
        	<!-- basic config -->
        <input type="hidden" id="hidden_hostname" name="hidden_hostname">
        <input type="hidden" id="hidden_banner" name="hidden_banner">
        <!-- interfaces -->
        <input type="hidden" id="hidden_FastEthernet0/0_shutdown" name="hidden_FastEthernet0/0_shutdown">
        <input type="hidden" id="hidden_FastEthernet0/0_description" name="hidden_FastEthernet0/0_description">
        <input type="hidden" id="hidden_FastEthernet0/0_ip" name="hidden_FastEthernet0/0_ip">
        <input type="hidden" id="hidden_FastEthernet0/0_sm" name="hidden_FastEthernet0/0_sm">

        <input type="hidden" id="hidden_FastEthernet0/1_shutdown" name="hidden_FastEthernet0/1_shutdown">
        <input type="hidden" id="hidden_FastEthernet0/1_description" name="hidden_FastEthernet0/1_description">
        <input type="hidden" id="hidden_FastEthernet0/1_ip" name="hidden_FastEthernet0/1_ip">
        <input type="hidden" id="hidden_FastEthernet0/1_sm" name="hidden_FastEthernet0/1_sm">

        <!-- nat -->
        <input type="hidden" id="hidden_nat_status" name="hidden_nat_status">
        <input type="hidden" id="hidden_nat_ingoing" name="hidden_nat_ingoing">
        <input type="hidden" id="hidden_nat_outgoing" name="hidden_nat_outgoing">
        <input type="hidden" id="hidden_nat_info_for_transfer" name="hidden_nat_info_for_transfer">

        <!-- dhcp -->
        <input type="hidden" id="hidden_dhcp_status" name="hidden_dhcp_status">
        <input type="hidden" id="hidden_dhcp_poolName" name="hidden_dhcp_poolName">
        <input type="hidden" id="hidden_dhcp_Network" name="hidden_dhcp_Network">
        <input type="hidden" id="hidden_dhcp_dG" name="hidden_dhcp_dG">
        <input type="hidden" id="hidden_dhcp_dnsServer" name="hidden_dhcp_dnsServer">
        <input type="hidden" id="hidden_dhcp_info_for_transfer" name="hidden_dhcp_info_for_transfer">

        <!-- rip -->
        <input type="hidden" id="hidden_rip_state" name="hidden_rip_state">
        <input type="hidden" id="hidden_networks_input_routing" name="hidden_networks_input_routing">
        <input type="hidden" id="hidden_dropdown_rip_version" name="hidden_dropdown_rip_version">
        <input type="hidden" id="hidden_sum_state" name="hidden_sum_state">
        <input type="hidden" id="hidden_originate_state" name="hidden_originate_state">

        <!-- static routing -->
        <input type="hidden" id="hidden_staticRouting_info_for_transfer" name="hidden_staticRouting_info_for_transfer">

        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
            RIP
        </button>
    </form>
    
    <form method="post" action="{% url 'get_inputs_route' device_type='router' %}" class="menu-form">
      {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
            <option value="router">Router</option>
        </select>

        <!-- hidden inputs to forward the user input into the backend if another site gets opened -->
        <input type="hidden" id="hidden_forward_to" name="hidden_forward_to" value="static_routing">
        	<!-- basic config -->
        <input type="hidden" id="hidden_hostname" name="hidden_hostname">
        <input type="hidden" id="hidden_banner" name="hidden_banner">
        <!-- interfaces -->
        <input type="hidden" id="hidden_FastEthernet0/0_shutdown" name="hidden_FastEthernet0/0_shutdown">
        <input type="hidden" id="hidden_FastEthernet0/0_description" name="hidden_FastEthernet0/0_description">
        <input type="hidden" id="hidden_FastEthernet0/0_ip" name="hidden_FastEthernet0/0_ip">
        <input type="hidden" id="hidden_FastEthernet0/0_sm" name="hidden_FastEthernet0/0_sm">

        <input type="hidden" id="hidden_FastEthernet0/1_shutdown" name="hidden_FastEthernet0/1_shutdown">
        <input type="hidden" id="hidden_FastEthernet0/1_description" name="hidden_FastEthernet0/1_description">
        <input type="hidden" id="hidden_FastEthernet0/1_ip" name="hidden_FastEthernet0/1_ip">
        <input type="hidden" id="hidden_FastEthernet0/1_sm" name="hidden_FastEthernet0/1_sm">

        <!-- nat -->
        <input type="hidden" id="hidden_nat_status" name="hidden_nat_status">
        <input type="hidden" id="hidden_nat_ingoing" name="hidden_nat_ingoing">
        <input type="hidden" id="hidden_nat_outgoing" name="hidden_nat_outgoing">
        <input type="hidden" id="hidden_nat_info_for_transfer" name="hidden_nat_info_for_transfer">

        <!-- dhcp -->
        <input type="hidden" id="hidden_dhcp_status" name="hidden_dhcp_status">
        <input type="hidden" id="hidden_dhcp_poolName" name="hidden_dhcp_poolName">
        <input type="hidden" id="hidden_dhcp_Network" name="hidden_dhcp_Network">
        <input type="hidden" id="hidden_dhcp_dG" name="hidden_dhcp_dG">
        <input type="hidden" id="hidden_dhcp_dnsServer" name="hidden_dhcp_dnsServer">
        <input type="hidden" id="hidden_dhcp_info_for_transfer" name="hidden_dhcp_info_for_transfer">

        <!-- rip -->
        <input type="hidden" id="hidden_rip_state" name="hidden_rip_state">
        <input type="hidden" id="hidden_networks_input_routing" name="hidden_networks_input_routing">
        <input type="hidden" id="hidden_dropdown_rip_version" name="hidden_dropdown_rip_version">
        <input type="hidden" id="hidden_sum_state" name="hidden_sum_state">
        <input type="hidden" id="hidden_originate_state" name="hidden_originate_state">

        <!-- static routing -->
        <input type="hidden" id="hidden_staticRouting_info_for_transfer" name="hidden_staticRouting_info_for_transfer">

        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
            Static Routing
        </button>
    </form>
    
    <form method="post" action="{% url 'acl_basic_route' %}" class="menu-form">
      {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
            <option value="router">Router</option>
        </select>
        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
            Basic ACL
        </button>
    </form>
    
    <form method="post" action="{% url 'acl_extended_route' %}" class="menu-form">
      {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
            <option value="router">Router</option>
        </select>
        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
            Extended ACL
        </button>
    </form>
    
      
      {% elif device_type == "switch" %}
      <form method="post" action="{% url 'index_route' %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="switch">Switch</option>
        </select>
          <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
              Return to start
          </button>
      </form>

      <form method="post" action="{% url 'basic_config_route' %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="switch">Switch</option>
        </select>
          <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
              Hostname & Banner (Basic Config)
          </button>
      </form>

      <form method="post" action="{% url 'etherchannel_route' %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="switch">Switch</option>
        </select>
          <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
              Etherchannel
          </button>
      </form>

      <form method="post" action="{% url 'vlan_route' %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="switch">Switch</option>
        </select>
          <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
              VLAN
          </button>
      </form>

      <form method="post" action="{% url 'acl_basic_route' %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="switch">Switch</option>
        </select>
          <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
              Basic ACL
          </button>
      </form>

      <form method="post" action="{% url 'acl_extended_route' %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="switch">Switch</option>
        </select>
          <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
              Extended ACL
          </button>
      </form>

      <form method="post" action="{% url 'vtp_dtp_route' %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="switch">Switch</option>
        </select>
          <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
              VTP & DTP
          </button>
      </form>

      <form method="post" action="{% url 'stp_route' %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="switch">Switch</option>
        </select>
          <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
              STP
          </button>
      </form>

      {% endif %}

      <label class="flex cursor-pointer items-center gap-2 bg-base-300 rounded-xl p-2">
        <input type="checkbox" value="light" class="toggle theme-controller" />
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round">
          <circle cx="12" cy="12" r="5" />
          <path
            d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4" />
        </svg>
      </label>
    </div>
  </div>
  <!-- <form class="bg-base-300 p-4 rounded-2xl" id="transfer_form" method="post"
  action="url'router_submit_config_route'" enctype="multipart/form-data">
  <input type="hidden" id="router_name" name="router_name" value="{router}"> -->
  <!-- content placeholder -->
  {% block content %}
  if you see this, something is wrong!
  {% endblock content %}
  <div class="uebertragung-content  bg-base-200 rounded-lg p-8">
    <h2 id="heading-uebertragen" class="font-extrabold text-2xl pb-5">Transfer or Download Configuration</h2>
    <!-- <form id="download" method="post" action="{% url
                    'router_transfer_config_route' %}" enctype="multipart/form-data"> -->
    <div id="download" class="bg-base-300 p-4 rounded-2xl">
      <div class="relative flex items-center gap-3">
        <label
          class="absolute -top-3 left-3 px-2 bg-gradient-to-t from-base-100 from-50% via-base-300 via-50% to-base-300"
          id="ip-input-description" for="ipAdresse">IP address:</label>
        <input placeholder="e.g. 0.0.0.0" class="input !pl-3 !outline-offset-0 input-bordered w-full max-w-xs"
          type="text" maxlength="15" size="15" id="ipAdresse" name="ip"
          oninput="ValidateFooter('ipAdresse','transfer_info', 'transferButton', 'dl_or_tf')">
        <select itemid="dl_or_tf" name="dl_or_tf" class="input !pl-3 !outline-offset-0 select select-bordered w-full max-w-xs"
          id="dl_or_tf" onchange="ValidateFooter('ipAdresse','transfer_info', 'transferButton', 'dl_or_tf')">
      </div>

      <option name="download" value="download">Download</option>
      <option name="transfer" value="transfer">Transfer</option>
      </select>
      <div id="transfer_info"></div>
    </div>
  </div>
  <br>
  <div class="menu-button border-base-300" id="download">
    <button class="font-bold btn btn-accent !rounded-xl w-full min-h-0  text-2xl" type="submit"
      id="transferButton">Submit</button>
  </div>
  </form>
  </div>
</body>
</html>
