{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cisco Configurator 2.0</title>
  <script src="{% static 'input_checks.js' %}"></script>
</head>

<body>
  <!-- hidden input form to forward the user input into the backend if another site gets opened -->
  <form method="post" id="inputs_form" action="{% url 'get_inputs_route' device_type=device_type config_mode=config_mode %}" class="menu-form">    {% csrf_token %}

    <input type="hidden" id="hidden_forward_to" name="hidden_forward_to" value="">
    <!-- basic config -->
    <input type="hidden" id="hidden_hostname" name="hidden_hostname">
    <input type="hidden" id="hidden_banner" name="hidden_banner">
    <!-- interfaces -->
    {% for interface in interfaces %}
    <input type="hidden" id="hidden_{{ interface }}_shutdown" name="hidden_{{ interface }}_shutdown">
    <input type="hidden" id="hidden_{{ interface }}_description" name="hidden_{{ interface }}_description">
    <input type="hidden" id="hidden_{{ interface }}_ip" name="hidden_{{ interface }}_ip">
    <input type="hidden" id="hidden_{{ interface }}_sm" name="hidden_{{ interface }}_sm">
    {% endfor %}
    <!-- nat -->
    <input type="hidden" id="hidden_nat_status" name="hidden_nat_status">
    <input type="hidden" id="hidden_nat_ingoing" name="hidden_nat_ingoing">
    <input type="hidden" id="hidden_nat_outgoing" name="hidden_nat_outgoing">
    <input type="hidden" id="hidden_nat_info_for_transfer" name="hidden_nat_info_for_transfer">

    <!-- dhcp -->
    <input type="hidden" id="hidden_dhcp_status" name="hidden_dhcp_status">
    <input type="hidden" id="hidden_dhcp_poolName" name="hidden_dhcp_poolName">
    <input type="hidden" id="hidden_dhcp_Network" name="hidden_dhcp_Network">
    <input type="hidden" id="hidden_dhcp_dG" name="hidden_dhcp_dG">
    <input type="hidden" id="hidden_dhcp_dnsServer" name="hidden_dhcp_dnsServer">
    <input type="hidden" id="hidden_dhcp_info_for_transfer" name="hidden_dhcp_info_for_transfer">

    <!-- rip -->
    <input type="hidden" id="hidden_rip_state" name="hidden_rip_state">
    <input type="hidden" id="hidden_networks_input_routing" name="hidden_networks_input_routing">
    <input type="hidden" id="hidden_dropdown_rip_version" name="hidden_dropdown_rip_version">
    <input type="hidden" id="hidden_sum_state" name="hidden_sum_state">
    <input type="hidden" id="hidden_originate_state" name="hidden_originate_state">

    <input type="hidden" id="hidden_dl_or_tf" name="hidden_dl_or_tf">

    <!-- static routing -->
    <input type="hidden" id="hidden_staticRouting_info_for_transfer" name="hidden_staticRouting_info_for_transfer">

    <input type="hidden" id="hidden_ip" name="hidden_ip">
    <input type="hidden" id="hidden_user" name="hidden_user">
    <input type="hidden" id="hidden_pw" name="hidden_pw">

    <!-- ospf -->
    <input type="hidden" id="hidden_ospf_process" name="hidden_ospf_process">
    <input type="hidden" id="hidden_ospf_router_id" name="hidden_ospf_router_id">
    <input type="hidden" id="hidden_ospf_info_for_transfer" name="hidden_ospf_info_for_transfer">

    <!-- basic ACLs -->
    <input type="hidden" id="hidden_basic_acl_info_for_transfer" name="hidden_basic_acl_info_for_transfer">

    <!-- extended ACLs -->
    <input type="hidden" id="hidden_extended_acl_info_for_transfer" name="hidden_extended_acl_info_for_transfer">

    <!-- VLAN -->
    <!-- <input type="hidden" id="hidden_vlan_interfaces_info_for_transfer" name="hidden_vlan_interfaces_info_for_transfer">
    <input type="hidden" id="hidden_vlan_info_for_transfer" name="hidden_vlan_info_for_transfer"> -->

  </form>

  <div class="menu-container justify-between flex py-2 pt-10 items-center">
    <a class="menu-button btn min-h-0 h-[2.5rem]" href="{%  url 'index_route' %}">
      <h1 id="heading" class="p-2 px-3 font-bold">Cisco Configurator 2.0</h1>
    </a>
    <div class="flex gap-2">
      {% if device_type == "router" %}

      <form method="post" action="{% url 'index_route' %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="router">Router</option>
        </select>
        <button type="submit" class="btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
          Return to start
        </button>
      </form>


      <button type="button" class="menu-button" id="basic-config-button" name="basic-config-button" onclick="submitForm('basic_config')">
        Hostname & Banner (Basic Config)
      </button>

      <button type="button" class="menu-button" onclick="submitForm('interface')">
        Interfaces
      </button>

      <button type="button" class="menu-button" onclick="submitForm('nat')">
        NAT
      </button>

      <button type="button" class="menu-button" onclick="submitForm('dhcp')">
        DHCP
      </button>
      
      <button type="button" class="menu-button" onclick="submitForm('rip')">
        RIP
      </button>

      <button type="button" class="menu-button" onclick="submitForm('static_routing')">
        Static Routing
      </button>

      <button type="button" class="menu-button" onclick="submitForm('ospf')">
        OSPF
      </button>

      <button type="button" class="menu-button" onclick="submitForm('acl_basic')">
        Basic ACL
      </button>

      <button type="button" class="menu-button" onclick="submitForm('acl_extended')">
        Extended ACL
      </button>

      <form method="post" action="{% url 'etherchannel_route' device_type='router' config_mode=config_mode %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="router">Router</option>
        </select>
        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
          Etherchannel
        </button>
      </form>


      {% elif device_type == "switch" %}
      <form method="post" action="{% url 'index_route' %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="switch">Switch</option>
        </select>
        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
          Return to start
        </button>
      </form>

      <button type="button" class="menu-button" onclick="submitForm('basic_config')">
        Hostname & Banner (Basic Config)
      </button>

      <form method="post" action="{% url 'etherchannel_route' device_type='switch'  config_mode=config_mode %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="switch">Switch</option>
        </select>
        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
          Etherchannel
        </button>
      </form>

<!-- 
      <button type="button" class="menu-button" id="basic-config-button" name="basic-config-button" onclick="submitForm('vlan')">
        VLAN
      </button> -->

      <button type="button" class="menu-button" onclick="submitForm('acl_basic')">
        Basic ACL
      </button>

      <button type="button" class="menu-button" onclick="submitForm('acl_extended')">
        Extended ACL
      </button>

      <form method="post" action="{% url 'vtp_dtp_route' device_type='switch'  config_mode=config_mode %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="switch">Switch</option>
        </select>
        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
          VTP & DTP
        </button>
      </form>

      <form method="post" action="{% url 'stp_route' device_type='switch'  config_mode=config_mode %}" class="menu-form">
        {% csrf_token %}
        <select name="deviceType" id="deviceType" style="display: none;">
          <option value="switch">Switch</option>
        </select>
        <button type="submit" class="menu-button btn min-h-0 h-[2.5rem] bg-base-300 border-base-300">
          STP
        </button>
      </form>

      {% endif %}

    </div>
  </div>

  <!-- <form class="bg-base-300 p-4 rounded-2xl" id="transfer_form" method="post"
  action="url'router_submit_config_route'" enctype="multipart/form-data">
  <input type="hidden" id="router_name" name="router_name" value="{router}"> -->
  <!-- content placeholder -->

  {% block content %}
  if you see this, something is wrong!
  {% endblock content %}

{% comment %} <div class="uebertragung-content  bg-base-200 rounded-lg p-8">
    <h2 id="heading-uebertragen" class="font-extrabold text-2xl pb-5">Transfer or Download Configuration</h2>
    <!-- <form id="download" method="post" action="{% url
                    'router_transfer_config_route' %}" enctype="multipart/form-data"> -->
    <div id="download" class="bg-base-300 p-4 rounded-2xl">
      <div class="relative flex items-center gap-3">
        <label
          class="absolute -top-3 left-3 px-2 bg-gradient-to-t from-base-100 from-50% via-base-300 via-50% to-base-300"
          id="ip-input-description" for="ipAdresse">IP address:</label>
        <input placeholder="e.g. 0.0.0.0" class="input !pl-3 !outline-offset-0 input-bordered w-full max-w-xs"
          type="text" maxlength="15" size="15" id="ipAdresse" name="ip"
          oninput="ValidateFooter('ipAdresse','transfer_info', 'transferButton', 'dl_or_tf')">
        <select itemid="dl_or_tf" name="dl_or_tf"
          class="input !pl-3 !outline-offset-0 select select-bordered w-full max-w-xs" id="dl_or_tf"
          onchange="ValidateFooter('ipAdresse','transfer_info', 'transferButton', 'dl_or_tf')">
      </div>

      <option name="download" value="download">Download</option>
      <option name="transfer" value="transfer">Transfer</option>
      </select>
      <div id="transfer_info"></div>
    </div>
  </div>
  <br>
  <div class="menu-button border-base-300" id="download">
    <button class="font-bold btn btn-accent !rounded-xl w-full min-h-0  text-2xl" type="button"
      id="transferButton" onclick="submitForm('index')">Submit</button>
  </div> {% endcomment %}
  <h2 id="heading-uebertragen" class="font-extrabold text-2xl pb-5">Transfer or Download Configuration</h2>
    <div style='margin-top: 20px;'>
        <input id="ipAddress"type="text" name="ipAddress" placeholder="10.0.0.1" oninput="ValidateFooter('ipAddress','transfer_info', 'transferButton', 'dl_or_tf')">
        <input id="username" type="text" name="username" placeholder="admin">
        <input id="password" type="password" name="password" placeholder="*****">
        <select id="dl_or_tf" name="dl_or_tf" onchange="ValidateFooter('ipAddress','transfer_info', 'transferButton', 'dl_or_tf')">
          <option name="download" value="download">Download</option>
          <option name="transfer" value="transfer">Transfer</option>
        </select>
        <button id="transferButton" type="button" onclick="submitForm('index', document.getElementById('dl_or_tf').value, document.getElementById('ipAddress').value, document.getElementById('username').value, document.getElementById('password').value)">Submit</button>
        <div id="transfer_info"></div>
    </div>

</body>

<script>
  function submitForm(to, dl_or_tf, ip, username, password) {
    document.getElementById("hidden_forward_to").value = to;
    document.getElementById("hidden_dl_or_tf").value = dl_or_tf;
    document.getElementById("hidden_ip").value = ip;
    document.getElementById("hidden_user").value = username;
    document.getElementById("hidden_pw").value = password;
    document.getElementById("inputs_form").submit();
  }
</script>

</html>